# ==============================================
# VS Code Configuration
# ==============================================
.vscode

# ==============================================
# Hardhat and Solidity Development
# ==============================================
node_modules

# ==============================================
# Package Managers
# ==============================================
package-lock.json
yarn.lock
pnpm-lock.yaml

